body {
	width: 100%;
	background: #E4E4E4; 
    	font-family: sans-serif;
}

hr {
	color: #000;
	width: 400px;
}

a {
	text-decoration: none;
	color: #357AB7;
}

a:visited {
	color: #357AB7;	
}

p {
	font-size: 1.2em;
}

#main {
	width: 520px;
	height: auto;
	background: #fff;
	margin: auto;
	padding: 10px 0 10px 0;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

#name {
	height: auto;
	margin: 0 80px 0 80px;
}

#why {
	height: auto;
	margin: 0 80px 0 80px;
}

#contacts {
	height: auto;
	margin: 0 80px 0 80px;
}

#feedback {
	height: auto;
	margin: 0 80px 0 80px;
}

.center {
	text-align: center;
}

#name img {
	width: 40%;
	display: block;
	margin: auto;
}

#why ul {
	padding-left: 20px;
	font-size: 1.2em;
}
