<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Exam</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
    <script src="js/jr-tmpl.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.bxslider.min.js"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="inner">
                <div class="header__logo">
                    <span>URLAUBSGLÜCK</span>
                </div>
                <div class="header__login">
                    <a href="#">Log in</a>
                    <a href="#">Sign up</a>
                </div>
            </div>
            <div class="header__promo">
                <h1>
                    Share your holiday dreams
                </h1>
                <p>
                    And find the perfect partner to fullfill it
                </p>
                <a href="#">Find your holiday partner</a>
            </div>
        </header>
        <main>
            <div class="inner">
                <div class="main__how">
                    <h3>How Urlaubsglück works?</h3>
                    <ul class="bxslider 1">
                        <li class="slide">
                            <img src="img/step1.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  1</span>
                            <h2 class="slide__content-title">Sed leo enim, condimentum</h2>
                            <span class="slide__content-cont">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis</span>
                            </span>
                        </li>
                        <li class="slide">
                            <img src="img/step2.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  2</span>
                            <h2 class="slide__content-title">Morbi velit risus</h2>
                            <span class="slide__content-cont">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
                            </span>
                        </li>
                        <li class="slide">
                            <img src="img/step3.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  3</span>
                            <h2 class="slide__content-title">Sed leo enim, condimentum</h2>
                            <span class="slide__content-cont">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                            </span>
                        </li>
                    </ul>
                    <ul class="bxslider 2">
                        <li class="slide">
                            <img src="img/step1.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  1</span>
                            <h2 class="slide__content-title">Sed leo enim, condimentum</h2>
                            <span class="slide__content-cont">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis</span>
                            </span>
                        </li>
                        <li class="slide">
                            <img src="img/step2.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  2</span>
                            <h2 class="slide__content-title">Morbi velit risus</h2>
                            <span class="slide__content-cont">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
                            </span>
                        </li>
                        <li class="slide">
                            <img src="img/step3.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  3</span>
                            <h2 class="slide__content-title">Sed leo enim, condimentum</h2>
                            <span class="slide__content-cont">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                            </span>
                        </li>
                    </ul>
                    <ul class="bxslider 3">
                        <li class="slide">
                            <img src="img/step1.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  1</span>
                            <h2 class="slide__content-title">Sed leo enim, condimentum</h2>
                            <span class="slide__content-cont">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis</span>
                            </span>
                        </li>
                        <li class="slide">
                            <img src="img/step2.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  2</span>
                            <h2 class="slide__content-title">Morbi velit risus</h2>
                            <span class="slide__content-cont">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</span>
                            </span>
                        </li>
                        <li class="slide">
                            <img src="img/step3.png" />
                            <span class="slide__content">
                            <span class="slide__content-step">S T E P  3</span>
                            <h2 class="slide__content-title">Sed leo enim, condimentum</h2>
                            <span class="slide__content-cont">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</span>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="main__partner">
                    <h3>Meet a partner for your best holiday</h3>
                    <div class="main__partner-content">
                        <figure>
                            <img src="img/photo-bhunter.png" alt="">
                            <figcaption>
                                <h5>Bradley Hunter</h5>
                                <span>Based in Chicago. I love playing tennis and loud music.</span>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="img/photo-hwalker.png" alt="">
                            <figcaption>
                                <h5>Heather Walker</h5>
                                <span>I'm a happy person that loves cats and climbing on mountains.</span>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="img/photo-lmarsha.png" alt="">
                            <figcaption>
                                <h5>Lucas Marsha</h5>
                                <span>I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</span>
                            </figcaption>
                        </figure>
                        <figure>
                            <img src="img/photo-bradleyh.png" alt="">
                            <figcaption>
                                <h5>Bradley Hunter</h5>
                                <span>Based in Chicago. I love playing tennis and loud music.</span>
                            </figcaption>
                        </figure>
                    </div>
                    <a href="#more" class="main__partner-other">See other partners</a>
                </div>
                <div class="main__discover">
                    <h3>Discover holiday activity ideas</h3>
                    <div class="main__dicsover-masonry"></div>
                </div>
                <div class="main__search">
                    <h3>Discover holiday activity ideas</h3>
                    <span>Hi! What are your holiday interests?</span>
                    <input type="text" placeholder="Enter your interests">
                    <a href="#search" class="main__search-button">Search partners</a>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <div class="inner">
            <div class="footer__logo">
                <h3>URLAUBSGLÜCK</h3>
            </div>

            <div class="footer__company">
                <h4>Company</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contacts</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer__partners">
                <h4>Partners</h4>
            </div>
            <div class="footer__designedby">
                <a href="#designedby"><span>Designed by</span>
                <img src="img/areto-logo.png" alt=""></a>
            </div>
        </div>
    </footer>
    <script type="text/html" id="item_tmpl">
        <% for ( var i = 0; i < images.length; i++ ) { %>
            <figure class="grid-item">
                <img src="<%=images[i].imageurl%>" alt="">
                <figcaption>
                    <span><%=images[i].word%></span></div>
                </figcaption>
            </figure>
            <% } %>
    </script>
</body>

</html>